*{
    margin: 0;
}
.mainContainer{
    
    height: 70vh;
    width: 50vh;
    margin: auto;
    margin-top: 150px;
}
.subContainer{
    border: 2px solid black;
    background-color: crimson;
    height: 70%;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
}
.row >button{
    height: 50px;
    width: 50px;
    background-color: crimson;
    border-radius: 20px;
    margin: 8px 0px 0px 8px;
    border-color:whitesmoke;
    color: white;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    

}
.row >input{
    height: 30px;
    width: 220px;
    margin-left: 10px;
}
.mainContainer>h1{
    text-align: center;
    
    
}